body{
    background-color:#fff;
}

h1 {
	position: relative;
	z-index: 2;
	padding: 0.5em 1em;
    color:white;
	text-align: center;
}

@keyframes hide {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}

@keyframes show {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

h1::before, h1::after {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	content: '';
}

h1::before {
	background: #30498D;
	z-index: -1;
	width: 0;
}

h1::after {
	background: #262f38;
	width: 100%;
}

h1.show::before {
	animation: show 3s .3s forwards cubic-bezier(0.23, 1, 0.32, 1);
}

h1.show::after {
	animation: hide 1.7s forwards cubic-bezier(0.23, 1, 0.32, 1);
}
h3{
    color:#30498D;
}
button{
	background-color: #30498D!important;
	border-color:  #30498D!important;
}
.btn-info{
	background-color: #30498D!important;
	border-color:  #30498D!important;

}
#montantpartiel{
	display: none;
}
#nomstructure{
	display: none;
}
/* css pdf */

#pdf{
	background-color: #30498D !important;
	color: #fff !important;
	text-align: center;
}
#categFormation{
	font-weight: bolder;
	font-size: 1.5em;
	text-align: center;
}
th{
	width: 15em;
}
td{
	font-size: 1.2em;
	font-style: italic;
	color: #30498D ;
	font-weight: bolder;
}
.repChoice{
	font-size: 1.2em;
	font-style: italic;
	color: #30498D ;
	font-weight: bolder;
}
h6{
	font-size: 1rem;
	font-weight: bolder;
}
.validation{
	font-size: 1rem;
	font-weight: bolder;
	

}