{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">

    <div class="row">
        <div class="content col s12">
            <section class="banner center-align" style="margin: 5rem 0;">
                <h1 class="show">Merci!<br>Votre demande de contact est enregistrée</h1>
                <div class="center-align">
                    <h5 class="text-center color_brand_primary">Recapitulatif</h5>
                   <p>Pré-inscription à la formation  {{prospect.nom}}<br>
                    d'un montant de  <br> à la charge de br>
                    mode de paiement : </p>
                    <p>Si vous nous n'avez pas reçu cet email vérifiez votre boîte de réception spam ou contactez notre <a href="mailto:contact@aresformation.com">secrétariat Ares Formation</a>.</p>
                </div>
            </section>
    </div>
     
      
           
    </div>
    {# <a class="btn btn-outline-info btn-lg float-right" href="{{ path('pre_inscription_pdf',{'id':pre_inscription.id}) }}">télécharger en pdf  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
    </svg></a>  #}
</div>
{% endblock %}
