{% extends 'base.html.twig' %}

{% block title %}Hello WOrld!{% endblock %}

{% block body %}
 <div class="pdfPageBody">
            <h1 class="show">
                Hello, World!
            </h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
{% endblock %}
